LifeExpectancyPrediction.json
[{"id":"1621b9ad.560896","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"31f6fdce.718032","type":"function","z":"1621b9ad.560896","name":"PreToken","func":"global.set(\"am\",msg.payload.am)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"alc\",msg.payload.alc)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"hb\",msg.payload.hb)\nglobal.set(\"me\",msg.payload.me)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ufd\",msg.payload.ufd)\nglobal.set(\"pol\",msg.payload.pol)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"di\",msg.payload.di)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"pop\",msg.payload.pop)\nglobal.set(\"thin1\",msg.payload.thin1)\nglobal.set(\"thin2\",msg.payload.thin2)\nglobal.set(\"ic\",msg.payload.ic)\nglobal.set(\"sch\",msg.payload.sch)\nvar apikey=\"m9htdBcTV9ml3bPWXfGdqmcrl1HFTwQz6JRaIk9Vadje\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":316.0000047683716,"wires":[["8aec59bb.1d1be8"]]},{"id":"8aec59bb.1d1be8","type":"http request","z":"1621b9ad.560896","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["1a72c11f.c34b0f"]]},{"id":"a333b63.4952348","type":"inject","z":"1621b9ad.560896","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["31f6fdce.718032"]]},{"id":"9f2f6e40.4169a","type":"debug","z":"1621b9ad.560896","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"1a72c11f.c34b0f","type":"function","z":"1621b9ad.560896","name":"Pre Prediction","func":"var am = global.get('am')\nvar id = global.get('id')\nvar alc = global.get('alc')\nvar pe = global.get('pe')\nvar hb = global.get('hb')\nvar me = global.get('me')\nvar bmi = global.get('bmi')\nvar ufd = global.get('ufd')\nvar pol = global.get('pol')\nvar te = global.get('te')\nvar di = global.get('di')\nvar hiv = global.get('hiv')\nvar gdp = global.get('gdp')\nvar pop = global.get('pop')\nvar thin1 = global.get('thin1')\nvar thin2 = global.get('thin2')\nvar ic = global.get('ic')\nvar sch = global.get('sch')\nvar token=msg.payload.access_token\nvar instance_id=\"afee156b-5b04-4acb-8281-f14b0c1fe933\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths\",\"Polio\",\"Total expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\"thinness  1-19 years\",\"thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"], \"values\": [[am,id,alc,pe,hb,me,bmi,ufd,pol,te,di,hiv,gdp,pop,thin1,thin2,ic,sch]]}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":260,"wires":[["4aa785a0.aa289c"]]},{"id":"4aa785a0.aa289c","type":"http request","z":"1621b9ad.560896","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/afee156b-5b04-4acb-8281-f14b0c1fe933/deployments/1700a3c4-197b-4831-82c3-bafb4edff020/online","tls":"","persist":false,"proxy":"","authType":"","x":744.5000076293945,"y":212.00000381469727,"wires":[["84bb7fe7.53b9b"]]},{"id":"2d6bd4fc.50042c","type":"ui_form","z":"1621b9ad.560896","name":"","label":"","group":"b169a65e.6f8778","order":1,"width":"0","height":"0","options":[{"label":"Adult Mortality","value":"am","type":"number","required":true,"rows":null},{"label":"Infant deaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alc","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis B ","value":"hb","type":"number","required":true,"rows":null},{"label":"Measles","value":"me","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio","value":"pol","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"di","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"pop","type":"number","required":true,"rows":null},{"label":"Thinness  1-19 years","value":"thin1","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"thin2","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"ic","type":"number","required":true,"rows":null},{"label":"Schooling","value":"sch","type":"number","required":true,"rows":null}],"formValue":{"am":"","id":"","alc":"","pe":"","hb":"","me":"","bmi":"","ufd":"","pol":"","te":"","di":"","hiv":"","gdp":"","pop":"","thin1":"","thin2":"","ic":"","sch":""},"payload":"","submit":"submit","cancel":"clear","topic":"","x":46,"y":359,"wires":[["31f6fdce.718032"]]},{"id":"5abcaa7b.86d534","type":"ui_text","z":"1621b9ad.560896","group":"b169a65e.6f8778","order":2,"width":"0","height":"0","name":"","label":"Life Expectancy:","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":20,"wires":[]},{"id":"84bb7fe7.53b9b","type":"function","z":"1621b9ad.560896","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":604.6000366210938,"y":107.60000610351562,"wires":[["9f2f6e40.4169a","5abcaa7b.86d534"]]},{"id":"b169a65e.6f8778","type":"ui_group","z":"","name":"Default","tab":"664e8b82.a74164","order":1,"disp":true,"width":6,"collapse":false},{"id":"664e8b82.a74164","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]